.container{
    background-color: blue;
    /* height: 400px;
    width: 100vw; */
    display: flex;
}
.box{
    height: 300px;
    width: 300px;
    color: red;
    background-color: aqua;
    margin: 30px;
}
/* Mobile phone */
@media(max-width:600px){
    .container{
        flex-direction: column;
        /* flex-wrap:wrap; */
    }
}
/* For tablet */
@media(min-width:601px)and(max-width:900px){
    .container{
        background-color: red;
    }
}
/* @media(max-width:500px)
{
    .container{
        background-color: black;
        height: 100px;
        width: 100px;

    }
} */